html{
    /* nmk_italic-01 1 */

    position: relative;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    border: 0;
    padding: 0;

    background: url(nmk_italic_2-02.png) ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
body {
    width: 100%;
}

.name {
    height: 24px;
    margin-left: 50px;
    margin-top: 32px;
    border-radius: nullpx;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    float: left;
    position: fixed;
   
}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}



article {
    margin-top: 200px;
    position: absolute;
    display: block;
    height: 321px;
    width: 100%;
}

.title {
    margin: 0;
    padding:0;
    position: relative;
    float: left;
    width: 255px;
    margin-left: 50px;

    font-family: Heebo;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
}

.discription {
    margin: 0;
    padding:0;
    float: right;
    margin-right: 50px;
    width: 670px;
    height: 321px;
    font-family: Heebo;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
}

.container {
    clear: both;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 300;
    width: 100%;
}

p {
    text-align: center;
    margin: 0 auto;
    margin-top: 80;
    font-family: Heebo;
}
.box_1 {
    width: auto;
    padding-bottom: 50;
}

.box_1 img {
    display: block;
    margin: 0 auto;
}

video {
    display: block;
    margin: 0 auto;
}

.center_image {
    clear: both;
    width: 900px;
    height: 900px;
    margin:0 auto;
    margin-top: 70;
    
}

.center_image img {
    display: block;
    top:0; 
    left: 0;
    max-width: 100%;
    margin: 0 auto;
}

.instagram {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-right: 50;
}

@media only screen and (max-width:768px){
    /* smart phone*/

       
       .discription {
           max-width: 80%;
           margin-left: 50;
           padding-top: 60;
           padding-bottom: 60;
           float: left;
           top: 470;
       }
       
       .container {
           max-width: 80%;
           margin-left: 50;
           margin-top: 380;

       }

       .container img {
           margin:0 auto;
           max-width: 80%;
           padding: 0;
       }

       video {
        margin:0 auto;
        max-width: 80%;
        padding: 0;

       }

       .center_image {
        clear: both;
        width: 80%;
        height: auto;
        margin:0 auto;
        margin-top: 70;
        
    }

    .center_image img {
        max-width: 100%;
    }
   }