body {
    background-color: black;
    color: white;
    margin: 50;
}

h1 {
    font-family: Momcake, regular;
    color: white;
    font-size: 150;
}

p {
    font-family: Helvetica, sans-serif;
}

a:link {text-decoration: none; color: white;}
a:visited {text-decoration: none; color: rgb(102, 255, 0);}
a:active {text-decoration: none; color: white;}
a:hover {text-decoration: underline; color: rgb(102, 255, 0);}