body {
    background-color: black;
    color: white;
    margin: 50;
}

h1 {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 160;
    text-align: center;
}

p, .name {
    font-family: Helvetica, sans-serif;
}
section{
    width: 55%;
    float: left;
    padding: 15px;
}

.name {
    width: 25%;
    float: right;
    padding: 15px;
    position: relative;
}

ul, li {
    list-style: none;
    margin-bottom: 20px;
}

a:link {text-decoration: none; color: white;}
a:visited {text-decoration: none; color: rgb(102, 255, 0);}
a:active {text-decoration: none; color: white;}
a:hover {text-decoration: underline; color: rgb(102, 255, 0);}