body {
    margin: 0;
}
#black {
    background-color: #000000;
    width: 100%;
    height: 383px;
    margin: 0;
    position: relative;
}

.kissin {
    width: 342px;
    height: 74px;  
    background: #FFFFFF;
    position: relative;
    left: 150px;
    top: 108px;
}

.line {
    width: 87%;
    height: 0px;
    border: 1px solid #FFFFFF;
    position: relative;
    left: 57px;
    right: 57px;
    top: 165px;
}

.top {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 30px;
    align-items: center;
    position: absolute;
    margin-top: 191px;
    margin-left: 164px;
}

.menu {
    width: 56px;
    height: 26px;
    background: #DBAE85;
}
main {
    display: flex;
}
#yellow {
    width: 932px;
    height: 1634px;
    background: #FFFBD8;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.name {
    width: 299px;
    height: 70px;
    background: #C4C4C4;
    margin-top: 62px;
    margin-bottom: 44px;
}

.image {
    width: 294px;
    height: 294px;
    background: #000000;
    float: left;
    margin-bottom: 70px;
}

.image-text {
    width: 481px;
    height: 294px;
    background: #6F8B92;
    float: right;
    margin-bottom: 70px;
}

.texts {
    width: 418px;
    height: 1035px;
    background: #3F1818;
}

.in {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    position: relative;
    clear: left;
    padding-inline-start: 0px;
}

#last {
    width: 100%;
    height: 176px;
    margin: 0;
}

.circle {
    display: flex;
    list-style: none;
    flex-direction: row;
    column-gap: 9px;
    margin-left: 129px;
}

.sns {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    background: #C4C4C4;
}

@media (max-width: 850px) {
    .top {
        display: none;
    }

    .kissin {
        width: 50%;
    }

    #yellow {
        width: 50%;
        height: max-content;
    }

    .image-text {
        width: 400px;
        float: left;
    }

    .texts {
        display: block;
        width: 170;
    }
    
}

@media (max-width: 710px) {
    .name {
        width: 70%;
    }

    .image {
        width: 200px;
        height: 200px;
    }
    .image-text {
        width: 230px;
    }
    .texts {
        width: 130;
    }
    .circle {
        margin-left: 120px;
    }

    .sns {
        width: 30px;
        height: 30px;
    }
}