html {
    background-image: url(sky.jpeg);
    background-size: cover;
}
#container {
    position:absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
#container img {
    position: absolute;
    width: 5%;
}


#vb {
    position: absolute;
    border-left: black solid 1px;
    left: 50%;
    top: 10%;
    height: 80%;
    z-index: 1000;
}