html {
    background-image: url('img/spain.jpg');
    background-size: cover;
}

body {
    font-family: 'Playfair Display', serif;
}


h1 {
    font-size: 120px;
    color: white;
    font-weight: 400;
    letter-spacing: -0.2;
    line-height: 0.8;
    position: absolute;
    display: block;
    text-align: center;
    top: 18%;
    left: 50%;
    transform: translate( -50%, -50% );
}

.sub, .nav {
    font-size: 15px;
    color: white;
    font-weight: 400;
    letter-spacing: -0.2;
    line-height: 1.7;
    position: absolute;
    display: block;
    text-align: center;
}

.sub {
    top: 39%;
    left: 50%;
    transform: translate( -50%, -50% );
}

.nav {
    top: 57%;
    left: 50%;
    transform: translate( -50%, -50% );
}


#container {
    position:absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
#container img {
    position: absolute;

}

.capture {
    font-size: 34px;
    color: white;
    position: absolute;
    top: 89%;
    left: 85%;
}

.capture:hover {
    font-style: italic;
}
