html {
    background-image: url("img/bg0.jpg");
    background-size: cover;
}

body {
    font-family: "Playfair Display", serif;
}



.sub,
.nav {
    font-weight: 400;
    letter-spacing: -0.2;
    line-height: 1.7;
    position: absolute;
    display: block;
    text-align: center;
}

.sub {
    color: white;
    background-color: black;
    padding: 34px;
    font-size: 30px;
    top: 25%;
    left: 35%;
    transform: translate(-25%, -25%);
}

.nav {
    color: #3DFF92;
    font-size: 15px;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
#container img {
    position: absolute;
}


.about {
    font-size: 15px;
    color: white;
    position: absolute;
    top: 80%;
    left: 2%;
}

.back {
    font-size: 35px;
    color: white;
    position: absolute;
    top: 3%;
    left: 89%;
}

.btn {
    font-size: 34px;
    color: white;
    position: absolute;
    top: 89%;
    left: 90%;
}

.btn:hover {
    font-style: italic;
}

.select {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 30px;
    align-items: center;
}


.select img {
    margin-right: 30px;
    cursor: pointer;
}

img:hover {
    margin-bottom: 30px;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: #3DFF92; font-style: italic;}

.left,
.right {
    position: absolute;
    top: 50%;
    background: none;
    font-size: 60px;
    font-weight: 400;
    border: none;
    color: white;
    transform: translateY(-50%);
    cursor: pointer;
}

.left {
    left: 15px;
}

.right {
    right: 15px;
}

.arrow {
    opacity: 0;
}

.arrow:hover {
    opacity: 1;
}