html {
    background-color: lightsteelblue;
}


.title {
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: black 1px solid;
}

.top {
    font-family: 'League Script', cursive;
    font-weight: normal;
    font-size: 15px;
    position: fixed;
    color: white;
    margin-bottom: 50px;
    margin-top: 0;
}

h1 {
    font-family: 'League Script', cursive;
    font-weight: normal;
    font-size: 70px;
    color:white;
    margin: 50px;
    text-align: center;
}

p, .button, .nav {
    line-height: 1.2;
    font-family: 'Courier Prime', monospace;
    font-size: 12;
}



.left {
    float: left;
    overflow: scroll visible;
    border-right: solid black 1px;
}

.right {
    float: right;
    position: relative;
    text-align: right;
    border-left: solid black 1px;
}

.left, .right {
    overflow: scroll visible;
    width: 40%;
    height: 300%;
    margin-bottom: 50px;
    border-bottom: black 1px solid;
}

nav { 
    position: fixed;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    left: 40%;
    top: 50%;
}
.nav, .ending {
    text-decoration: none;
}
.nav:visited {
    color: blue;
    text-decoration: none;
}

.ending:visited {
    color: black;
}

.button {
    text-align: center;
    margin: 0 auto;
    top: 300%;
    position: relative;
}

.ending:hover{
    color: blue;
    font-weight: bolder;
    font-size: x-large;
    transition: all ease 1s;
}

.nav { 
    cursor: pointer;
    transition: background-size 0.8s;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    }

    @media (max-width: 1000px) {
    .nav {
        background-image: linear-gradient(transparent 60%, white 40%);
      }
      .nav:hover {
        background-size: 100% 100%;
      }
    }

strong {
    color: white;
}


/* SCROLL */
::-webkit-scrollbar { width: 5px; }
/* 스크롤바의 width */
::-webkit-scrollbar-track { background-color: none;}
/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb { 
    background: linear-gradient(to bottom, lightgray, lightgray); 
}
/* 스크롤바 색 */
::-webkit-scrollbar-button { display: none;}
::-webkit-scrollbar-corner {display: none;}

body::-webkit-scrollbar {display:none;}

@media all and (max-width: 480px) {
    .nav {
        left: 15%;
    }
    .top {
        font-size: 35px;
    }

    .h1 {
        font-size: 30px;
        margin-top: 30px;
    }

    .title {
        height: 8%;
    }
}
