html {
    background-color: lightgray;
   
  
}

.title {
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 30px;
}


h1 {
    font-family: 'Manjari', sans-serif;
    font-weight: normal;
    font-size: 130px;
    color:blue;
}

p, .button, .nav {
    line-height: 1.2;
    font-family: 'Courier Prime', monospace;
    font-size: 12;
}



.left {
    float: left;
    overflow: scroll visible;
    border-right: solid black 1px;
}

.right {
    float: right;
    position: relative;
    text-align: right;
    border-left: solid black 1px;
}

.left, .right {
    overflow: scroll visible;
    width: 40%;
    height: 300%;
    margin-bottom: 50px;
    border-bottom: black 1px solid;
}

nav { 
    position: fixed;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    left: 40%;
    top: 50%;
}
.nav, .ending {
    text-decoration: none;
}
.nav:visited {
    color: tomato;
    text-decoration: none;
}

.ending:visited {
    color: black;
}

.button {
    text-align: center;
    margin: 0 auto;
    top: 300%;
    position: relative;
}

.ending:hover{
    color: blue;
    font-weight: bolder;
    font-size: x-large;
    transition: all ease 1s;

}

.nav { 
    color: tomato;
        cursor: pointer;
        transition: background-size 0.8s;
        background-size: 0% 100%;
        background-repeat: no-repeat;
    }
    @media (min-width: 1000px) {
    .nav {
        background-image: linear-gradient(transparent 60%, #F8CD07 40%);
      }
      .nav:hover {
        background-size: 100% 100%;
      }

strong {
    color: white;
}

.title:hover, strong:hover {
    text-shadow:0px 2px 3rem blue;
    transition: all ease 0.5s;
    }