header {
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Cormorant Garamond', serif;
    position: relative;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 40px;
    font-size: 15;
    padding-inline-start: 40px;

}

.sidebar {
    width: 250px;
    height: 100%;
    margin-left: 0;
    position: fixed;
}

.nav {
    list-style: none;
    float: left;
    line-height: 4;
    font-family: 'Cormorant Garamond', serif;
    font-size: 12;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	padding: 15px 0;
}

.bottom {
    list-style: none;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 10;
    line-height: 2;
}