html {
    height: 142%;
}

body {
    font-family: 'Cormorant Garamond', serif;
}

header {
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
    position: relative;
    margin-bottom: 70px;
    margin-left: 120px;
}

h2 {
    margin-bottom: 40px;
    font-size: 15;
    padding-inline-start: 40px;
}

.sidebar {
    width: 250px;
    top: 23%;
    height: 100%;
    margin-left: 0;
    position: fixed;
}

.nav {
    list-style: none;
    float: left;
    line-height: 4;
    font-size: 12;
}

.main-contents-one, .main-contents-two {
    width: 600;
    margin: 0 auto;
    display: grid;
}

.main-contents-one {
    grid-template-columns: 300px 300px 300px;
    margin-bottom: 170px;
}

.main-contents-two {
    grid-template-columns: 300px 300px;
    margin-left: 480px;

}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 130%;
    width: 100%;
	padding: 15px 0;
}

.bottom {
    list-style: none;
    text-align: center;
    font-size: 10;
    line-height: 2;
    margin-left: 120px;
}

p {
    font-size: 14;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}