html {
    background-color: #FFD700;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 130px;
    line-height: 119px;
    color: #FF0000;
    width: 100%;
    height: 91px;
    margin-left: 150px;
    margin-top: 70px;
    margin-bottom: 70px;
    position: absolute;
}   

img {
    margin-left: 870;
    margin-top: 470px;
}