html {
    background-image: url(space2.jpeg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.count {
    width: 25px;
    background-color: white;
    border: white solid 3px;
    color: rebeccapurple;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 24px;
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
}

.stars {
    position: absolute;
    width: 8px;
    height: 8px;
    background: white;
    cursor: pointer;
    border-radius: 50px;
    display: hidden;
  }


.swatch {
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#color1 {
    background-color: greenyellow;
}

#color2 {
    background-color: #00FFFF;
}

#color3 {
    background-color: 	#FF5AD9;
}