html {
    background-color: black;
}

#title {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 200;
    margin-bottom: 200;
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin: auto;
    margin-bottom: 30;
  }
  #heart:before,
  #heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  #heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }

#heart:hover{
    transform: rotate(720deg);
    transition: all ease 1s;
}


h1 {
    font-size: 200px;
    font-weight: 500;
    text-align: center;
    color: chartreuse;
}

h1:hover {
    text-shadow:0px 0px 3rem chartreuse;
    transition: all ease 0.5s;
}

.underline { 
color: tomato;
    cursor: pointer;
    transition: background-size 0.8s;
    background-size: 0% 100%;
    background-repeat: no-repeat;
}
@media (min-width: 1000px) {
    .underline {
      font-size: 5em;
    }
.underline.yellow {
    background-image: linear-gradient(transparent 60%, #F8CD07 40%);
  }
  .underline:hover {
    background-size: 100% 100%;
  }


.first,
.middle,
.second
{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-align: center;
}

.middle {
    margin-top: 200;
    margin-bottom: 200;
    font-size: 60px;
    color: chartreuse;
    letter-spacing: 1.2;
}

.middle:hover{
    color: blue;
    font-weight: bolder;
    font-size: larger;
    transition: all ease 1s;

}

.first{ 
    line-height: 2.5;
    text-shadow:0px 0px 1rem #ffffff;
}

.second{
    line-height: 2.5;
    margin-top: 200;
    text-shadow:0px 0px 1rem #ffffff;
}